{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Debts</h5>
                <p class="card-text">{{ total_debts }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Total Debt Amount</h5>
                <p class="card-text">${{ total_debt_amount }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
